---
layout: page
title: The API Stack
---
<H1>API Stack</h1>
<p>These are the APIs I consider to be the most relevant in my storytelling around APIs, and reflect the APIs that are most used by developers, but also have APIs that will be relevant across a wide audience.</p>
<p>I'll be adding other "stacks" of APIs in different verticals, as I update them. Making them available in the left-hand navigation, allowing for easier browsing of the best of the APIs I am studying as part of my research.</p>

{% assign number_of_orgs = 0 %}
{% assign number_of_apis = 0 %}
<div class="taggedLinkCards__cards">
  {% for item in site.stack %}
    {% if item.name %}
         {% assign number_of_orgs = number_of_orgs + 1 %}
         <h3>{{ item.name }}</h3>
         <p><img src="{{ item.image }}" width="20%" align="left" /></p>
         <p>{{ item.description }}</p>
    {% endif %}
  {% endfor %}
</div>

<p>This project runs 100% on Github, and you <a href="github.com/api-stack/api-stack">can access via its Github repository</a>, with a machine readable APIs.json index available for all fo the organizations, and APIs included in this stack.</p>
